<div ng-show="oracle.metadata">
    <h3>{{oracle.table}} &ndash; Incoming Links</h3>
    <table>
        <tr>
            <th>My key(s)</th>
            <th>&#9664; Details Table</th>
            <th>Details key(s)</th>
            <th>FK Name</th>
        </tr>
        <tr ng-repeat="(n, r) in oracle.details">
            <td><div ng-repeat="m in r.matchcolumn" ng-bind="m.dest"></div></td>
            <td>&#9664; <a href="#" ng-click="show.tabledata(r.source);" ng-bind="r.source"></a></td>
            <td><div ng-repeat="m in r.matchcolumn" ng-bind="m.src"></div></td>
            <td ng-bind="n" style="font-size: 66%;"></td>
        </tr>
    </table>
</div>
