<div>
    <h3>Options</h3>
    <p>
        <div>
            <input type="checkbox" ng-model="displaygrid" />
            <label>Use grid display</label>
        </div>
        <div>
            <input type="checkbox" ng-model="displaymetadata" />
            <label>Show Relations/Links</label>
        </div>
        <div>
            <a target="_blank" ng-href="Workflow.html#!?owner={{oracle.owner}}" href="#" title="based on PHASE and JALON">Show BO Workflows in new tab</a>
        </div>
        <div>
            <a target="_blank" ng-href="WorkflowFO.html#!?owner={{oracle.owner}}" href="#" title="based on WORKFLOW and WORSTEP">Show FO Workflows in new tab</a>
        </div>
        <div>
            <a target="_blank" ng-href="Columns.html#!?owner={{oracle.owner}}" href="#">Column search center</a>
        </div>
    </p>

    <h3>{{oracle.table}}</h3>

    <!-- ": true" means do an exact match for the filter -->
    <p ng-repeat="t in tables | filter: {NAME: oracle.table} : true" ng-bind="t.DESCRIPTION"></p>

    <form>
        <p>
            <label class="fixed">Owner:</label>
            <input ng-model="oracle.owner" />
            <input type="submit" class="btn btn-primary" ng-click="show.tables()" value="Show" />
            <input type="submit" class="btn btn-primary" ng-click="tables=[]" value="Hide" />
            <br />
            <i>Hint: Try TRREADY45, AVREADY45</i>
        </p>
    </form>

    <p ng-show="tables[0]">
        <label class="fixed">Filter:</label>
        <input ng-model="filter.tables" />
        <br />
        <label class="fixed">Min Count:</label>
        <input type="number" ng-model="filter.mincount"/>
    </p>

    <ol>
        <li ng-repeat="t in tables | filter: filter.tables" ng-show="t.NUM_ROWS >= filter.mincount">
            <div>
                <a ng-click="show.tabledata(oracle.owner, t.NAME);">{{t.NAME}} ({{t.NUM_ROWS}})</a>
            </div>
            <div ng-bind="t.DESCRIPTION" style="font-size: 66%;" ng-show="t.DESCRIPTION != '==='"></div>
        </li>
    </ol>
</div>