<div>
    <p>
        <label>Find:</label>&nbsp;<input ng-model="filter.table" />
        <label>Limit to:</label>&nbsp;<input ng-model="filter.limit" type="number" />
    </p>
    <table>
        <tr>
            <th></th>
            <th ng-repeat="(n, v) in oracle.values[0]" title="{{descriptionOf(n)}}">{{n}}</th>
        </tr>
        <tr ng-repeat="r in oracle.values | filter: filter.table | limitTo: filter.limit">
            <td><a ng-click="show.restrict(r)">{{$index+1}}&#10140;</a></td>
            <td ng-repeat="(n, v) in r" ng-switch="isLink(n, v)">
                <div ng-switch-when="true" ng-bind="v"></div>
                <div ng-switch-when="true" ng-repeat="fk in linksof(n)" style="font-size: 66%;">
                    <a title="{{fk.key}}" ng-click="show.follow(r, fk, 'forward')">&#10140;&nbsp;{{fk.destination}}</a>
                </div>
                <span ng-switch-when="false" ng-bind="v"></span>
            </td>
        </tr>
    </table>
</div>